{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Dashboard</h2>
        <p class="text-center">Welcome back, {{ current_user.username }}!</p>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Your Subscription</h5>
                {% if subscription %}
                    <p class="card-text">Plan: {{ subscription.plan }}</p>
                    <p class="card-text">Duration: {{ subscription.duration }} months</p>
                {% else %}
                    <p class="card-text">You do not have an active subscription.</p>
                    <a class="btn btn-primary" href="{{ url_for('main.purchase') }}">Purchase a Subscription</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <h3>Recent Activities</h3>
        <ul class="list-group">
            <li class="list-group-item">Logged in at {{ current_user.last_login }}</li>
            <li class="list-group-item">Updated profile information</li>
            <li class="list-group-item">Purchased a new subscription</li>
        </ul>
    </div>
</div>
{% endblock %}